In [2]:
# String Format
# helps to decorate the output 
a = 10
b = 20
c = a + b
print('Sum of %d and %d is %d'%(a, b, c))

Sum of 10 and 20 is 30

In [11]:
num1 = 10
num2 = 20
out = num1+num2
print('sum of',num1,'and',num2,'is',out)

sum of 10 and 20 is 30

In [23]:
# Addition of number with format string (% format: placeholders %d, %f, %s..)
num1 = 1990
num2 = 30
# out = num1 + num2
out = 'hello'
tmp = 'Sum of %d and %d is %s'%(num1, num2, out)
print(tmp)

Sum of 1990 and 30 is hello

In [18]:
'hellhshhd%dsjjfjo'%100

'hellhshhd100sjjfjo'

In [31]:
# .format method 
num1 = 10
num2 = 20
out = num1 + num2
# out = 'hello'
tmp = 'sum of  {2} and {2} is {2}'.format(num1, num2, out)
print(tmp)

sum of  30 and 30 is 30

In [53]:
# f-tag string 
num1 = 10
num2 = 20
out = num1 + num2
print(f'sum of {num1} and {num2} is {out}')

sum of {10} and 20 is 30

In [69]:
value = 10
stm = f'value1 {{{value}}}'
print(stm, len(stm))

value1 {10} 11

In [60]:
st = ''
print(st, len(st))

\n 2

In [1]:
# multipline string 
st = 'hello'
print(st)

hello

In [6]:
# init of string with double quotes
st = "Hello"
print(repr(st))

'Hello'

In [9]:
# init empty string 
st = ''
print(st, len(st))

 0

In [11]:
st = 'my name is rakesh\ni am from Hons Deppt'
print(repr(st))
'''
WAP djcdc
dsc
sdv
dv

v

'''

'my name is rakesh\ni am from Hons Deppt'

In [16]:
st = """
my name is rakesh

i am from Hons Deppt
Python Programming
"""
print(repr(st), id(st))

'\nmy name is rakesh\n\ni am from Hons Deppt\nPython Programming' 4581722464

In [29]:
st = "hello worl'd"
print(st)

hello worl'd

In [44]:
value1 = 12138858748574857485
value2 = 1007676
st = f'''value1: {value1:>10}
value2: {value2:>10}
'''
print(st)

value1: 12138858748574857485
value2:    1007676

In [67]:
val = 'ffhdh'
st = f'My name is {val:<10}s'
print(st, len(st))

My name is ffhdh     s 22

In [54]:
st = str(10)
print(st.zfill(2))

10

In [ ]:
# Demonstrating associativity and precedence of 'and' and 'or' in Python

# Precedence: 'and' has higher precedence than 'or'
result1 = True or False and False  # Evaluates as True or (False and False) -> True or False -> True
result2 = (True or False) and False  # Evaluates as (True or False) and False -> True and False -> False

# Associativity: 'and' and 'or' are left-associative
result3 = True or True or False  # Evaluates as (True or True) or False -> True or False -> True
result4 = True and False and True  # Evaluates as (True and False) and True -> False and True -> False

print(f"True or False and False: {result1}")
print(f"(True or False) and False: {result2}")
print(f"True or True or False: {result3}")
print(f"True and False and True: {result4}")

In [23]:
a = 10
b = 1.023233
tmp = f'''
value1: {a:20.6f}
value2: {b:20.6f}
'''
print(tmp)

value1:            10.000000
value2:             1.023233